@page
@model PIBasesISGrupo1.Pages.Evento.VerStreamingModel
@{ 
    ViewData["Title"] = "Lista de encuestas";
}
<h1>Ver evento en vivo!!</h1>
<div style="margin-left:25%;">
    <iframe width="560" height="315" src="https://www.twitch.tv/calabuth" frameborder="0" allowfullscreen></iframe>
    <!--<video id="stream" src="https://www.twitch.tv/ronny_666_" controls width="800" height="550" loop/>-->
</div>