@page
@model PIBasesISGrupo1.Pages.Evento.VerStreamingModel
@{
    ViewData["Title"] = "Lista de encuestas";
}
<h1>Ver evento en vivo!!</h1>


<div class="iframe-container" style="overflow: hidden; padding-top: 56.25%; position: relative;">
    <iframe allow="microphone; camera" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;" src="https://us02web.zoom.us/j/7919074420?pwd=eVFCdnlsNmVHQ050R2JtaUVMaDhtQT09" frameborder="0"></iframe>
</div>

