@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<div style="text-align:center; width:100%;">
    <img style="margin-bottom:-100px;" src="~/img/404Error.gif"> </img>
    <h1>Página no encontrada</h1>
    <br></br>
    <button class="primary-btn-comunidad"><a style="color:white" href="/Index">Volver a inicio </a></button>
</div>
