@page
@model PIBasesISGrupo1.Pages.Eventos.RegistrarmeEnEventoModel
@{
    ViewData["Title"] = "RegistrarmeEnEvento";
}

<!--
<div class="cajota-cursos">


    <h1 class="mb-3">Mis cursos propuestos</h1>




    <div class="cursos-container-2">


                <div class="cajita-cursos col-lg-12">
                    <div class="col-lg-12 right-contents">
                        <h4 class="title_color align-content-lg-center centrar">""</h4>
                        <hr class="new5">
                        <ul>
                            <li>
                                <a class="justify-content-between d-flex">
                                    <p>Estado</p>
                                    <span class="or"></span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex">
                                    <p>Precio </p>
                                    <span>$"hola"</span>
                                </a>
                            </li>

                            @//{

                                if (@curso.estado == "Aprobado")
                                {
                                    <a asp-page="./CrearCurso" asp-route-nombreCurso="@curso.nombre" asp-route-nombrePaginaCurso="./CrearCurso" button class="primary-btn2 text-uppercase enroll rounded-0"> Crear curso</a>
                                }


                            }

                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</div>


-->
