@page
@model PIBasesISGrupo1.Pages.Miembro.CrearMiembroModel
@{
    ViewData["Title"] = "CrearMiembro";
}
<form method="post">
    <h1>Formulario simple</h1>
    <input type="text" name="id" placeholder="id" />
    <input type="submit" value=" Enviar" />
</form>

<h2>CrearMiembro</h2>

