@page
@model PIBasesISGrupo_1.Pages.Miembro.MiembroModel
@{
    ViewData["Title"] = "Miembro";
}

<form method ="post">
    <h1>Formulario simple</h1>
    <input type ="text" name="id" placeholder="id"/>
    <input type ="submit" value=" Enviar"/>
</form>

