@page
@model PIBasesISGrupo1.Pages.Catalogos.EditarCatalogoModel
@{var categorias = (List<string>)ViewData["Categorias"];
    List<SelectListItem> tiposCategorias = new List<SelectListItem>();
    foreach (var categoria in categorias)
    {
        tiposCategorias.Add(new SelectListItem { Text = @categoria });
    }
    var mensajeCategoria = (string)TempData["mensaje"];
}

<div>
    <form asp-page-handler="AgregarCategoria" method="post" enctype="multipart/form-data">

        @{
            if (@mensajeCategoria != null)
            {
                if ((bool)TempData["exitoAlAgregarCategoria"])
                {
                    <div class="alert-success">
                        <h3> @mensajeCategoria </h3>
                    </div>
                }
                else
                {
                    <div class="alert-danger">
                        <h3> @mensajeCategoria </h3>
                    </div>
                }
            }
        }
        <input asp-for="@Model.catalogo.categoria" />
        <button class="btn btn-default">Compartir</button>
    </form>
</div>



<br>
<div>
    <form asp-page-handler="AgregarTopico" method="post" enctype="multipart/form-data">
        @Html.LabelFor(model => model.catalogo.categoria)
        @Html.DropDownListFor(model => model.catalogo.categoria, tiposCategorias, "-Sin selección-", new { @class = "form-control" })
        <button class="btn btn-default">Agregar Topico</button>
    </form>
</div>
