@page
@model PIBasesISGrupo1.Pages.Miembros.CrearMiembroModel
@{
    ViewData["Title"] = "CrearMiembro";
}
<form method="post">
    <h1>Formulario simple</h1>
    <input type="text" name="id" placeholder="id" />
    <input type="submit" value=" Enviar" />
</form>


<h2>Registrarme</h2>
<form method="post">
    <input asp-for="@Model.Miembro.Nombre" placeholder="Nombre" />
    <input asp-for="@Model.Miembro.PrimerApellido" placeholder="Primer apellido" />
    <input type="submit" value=" Enviar" asp-page-handler="Miembro"/>
</form>


