@page
@model PIBasesISGrupo1.Pages.Certificado.DescargarCertificadoModel
@{
    ViewData["Title"] = "Descargar Certificado";
    var fecha = (string)TempData["fecha"];
    var nombreEducador = TempData["nombreEducador"];
    var nombreCurso = TempData["nombreCurso"];
    var nombreEstudiante = TempData["nombreEstudiante"];
    var firmaCoordinador = (byte[])TempData["firmaCoordinador"];
    var firmaEducador = (byte[])TempData["firmaEducador"];

}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js">
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&family=Source+Serif+Pro:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
    <style>
        .certificado__container {
            font-family: 'Abhaya Libre', serif;
        }

        .certifica {
            text-align: center;
        }
    </style>
</head>


<div class="certificado__container" id="certificado">

    <div class="certificado__elements">
        <br />
        <img class="logo-2" src="/img/logo.png" alt="">
        <br />
        <br />
        <p class="certificado__content-title">Certificado de Finalización</p>
        <br />
        <div style="display:inline-block">
            <p class="certificado__ownerName">@nombreEstudiante</p>
            <p class="certificado__members__line" style="margin-bottom:15px;"></p>
        </div>
        <p class="certificado__content">A completado con exito el curso de</p>
        <br />
        <p class="certificado__content-courseName">@nombreCurso</p>
        <p class="certificado__content">Impartido por:</p>
        <p class="certificado__content-teacher">@nombreEducador</p>
        <p class="certificado__content">En la fecha:</p>
        <p class="certificado__content-date">
            @fecha.Substring(0, 2)-@fecha.Substring(3, 2)-@fecha.Substring(6, 4)
        </p>
        <div class="certificado__members">
            <div>
                <img src="data:image/png;base64,@(Convert.ToBase64String(firmaCoordinador))" style="width:200px;height:100px" />
                <p class="certificado__members__line"></p>
                <p class="certificado__members__information">Firma coordinador</p>
            </div>

            <div>
                <img src="data:image/png;base64,@(Convert.ToBase64String(firmaEducador))" style="width:200px;height:100px" />
                <p class="certificado__members__line"></p>
                <p class="certificado__members__information">Firma Educador</p>
            </div>
        </div>
        <br />
    </div>
</div>
<button id="btn-Convert-Html2Image" onclick="html2canvas" class="primary-btn2 text-uppercase enroll rounded-0" href="#" style="margin-left:45%">Descargar</button>


<script>

$('#btn-Convert-Html2Image').click(function () {

            
            html2canvas($('#certificado'),
                {
                    onrendered: function (canvas) {
                        var a = document.createElement('a');
                        a.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                        a.download = 'Certificado.png';
                        a.click();
                    }
                });
                    
    });
</script>
