@page
@model PIBasesISGrupo1.Pages.Certificado.MisCertificadosModel
@{
    ViewData["Title"] = "MisCertificados";
    var certificados = (List<PIBasesISGrupo1.Models.Certificado>)ViewData["Certificados"];
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>

    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js">
    </script>

</head>
<h1 class="mb-3">Mis Certificados</h1>
@foreach (var certificado in certificados)
{


    <div style="margin:auto">
        <img id="certificado" src="@certificado.imagenCertificado" style="width:50%;height:15% " /><br>
        <button id="btn-Convert-Html2Image" class="primary-btn2 text-uppercase enroll rounded-0">Descargar</button>

    </div>


}
<script>
    $('#btn-Convert-Html2Image').click(function () {

            
            html2canvas($('#certificado'),
                {
                    onrendered: function (canvas) {
                        var a = document.createElement('a');
                        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
                        a.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                        a.download = 'Certificado.png';
                        a.click();
                    }
                });
                    
    });

</script>