@using Microsoft.AspNetCore.Http
@using PIBasesISGrupo1.Models
@using PIBasesISGrupo1.Handler
@{
    var miembroEnSesion = Context.Session.obtenerDatosDeSesion("Miembro");
    var estudianteEnSesion = Context.Session.obtenerDatosDeSesion("Estudiante");
    var filtros = new FilterHandler();
}
<!DOCTYPE html>
<html>
<head>


    <style>
        .footer-margin {
            margin: 15%;
            position: fixed;
            text-align: center;
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Comunidad de Practica</title>




    <environment include="Production">
        <link rel="icon" href="~/img/favicon.png" type="image/png" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/flaticon.css" />
        <link rel="stylesheet" href="~/css/themify-icons.css" />
        <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css" />
        <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css" />
        <!-- main css -->
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <script>
        $(document).ready(function () {
            $(".idiomas-select").select2({
                placeholder: "Idiomas",
                tokenSeparators: ['/', ',', ';']
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $(".habilidades-select").select2({
                placeholder: "Habilidades",
                tokenSeparators: ['/', ',', ';']
            });
        });
    </script>
    <environment exclude="Production">
    </environment>
</head>
<body>

    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/Index">
                        <img class="logo-2" src="~/img/logo2.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            @{ if (miembroEnSesion != null)
                                {
                                    <li class="nav-item submenu dropdown">
                                        <a href="#"
                                           class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Eventos</a>
                                        <ul class="dropdown-menu">

                                            @if (filtros.verificarRol(miembroEnSesion.email, "Coordinador"))
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/Eventos/CrearEvento">Crear evento</a>
                                                </li>

                                            }

                                            <li class="nav-item">
                                                <a class="nav-link" href="/Eventos/MostrarEventos">Ver eventos</a>
                                            </li>


                                        </ul>
                                    </li>
                                }
                            }

                            <li class="nav-item">
                                <a class="nav-link" href="/Noticias">Noticias</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Miembros/DesplegarMiembros">Miembros</a>
                            </li>
                            @if (miembroEnSesion != null)
                            {
                                <li class="nav-item submenu dropdown">
                                    <a href="#"
                                       class="nav-link dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">Certificados</a>
                                    <ul class="dropdown-menu">
                                        @if (filtros.verificarRol(miembroEnSesion.email, "Coordinador"))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Certificado/AprobarCertificado">Aprobar</a>
                                            </li>
                                        }
                                        @if (estudianteEnSesion != null || miembroEnSesion != null)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Certificado/MisCertificados">Mis Certificados</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                @if (filtros.verificarRol(miembroEnSesion.email, "Coordinador"))
                                {
                                    <li class="nav-item submenu dropdown">
                                        <a href="#"
                                           class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Analitica</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Curso/Grafico">Cursos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Comunidad/GraficoComunidad">Comunidad</a>
                                            </li>
                                        </ul>
                                    </li>
                                }

                            }
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Cursos</a>
                                <ul class="dropdown-menu">

                                    @{

                                        if (miembroEnSesion != null)
                                        {

                                            <li class="nav-item">
                                                <a class="nav-link" href="/Curso/ProponerCurso">Proponer</a>
                                            </li>

                                            if (filtros.verificarRol(miembroEnSesion.email, "Miembro de Nucleo", "Coordinador"))
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/Curso/AprobarCurso">Aprobar</a>
                                                </li>

                                            }



                                            <li class="nav-item">
                                                <a class="nav-link" href="/Curso/MisCursosPropuestos">Propuestos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Curso/CursosCreados">Creados</a>
                                            </li>

                                        }
                                        if (estudianteEnSesion != null || miembroEnSesion != null)
                                        {

                                            <li class="nav-item">
                                                <a class="nav-link" href="/Curso/MisCursosInscritos">Matriculados</a>
                                            </li>



                                        }
                                    }


                                    <li class="nav-item">
                                        <a class="nav-link" href="/Curso/CursosDisponibles">Disponibles</a>
                                    </li>



                                </ul>
                            </li>
                            @{


                                if (miembroEnSesion != null)
                                {


                                    <li class="nav-item">
                                        <a class="nav-link" href="/Catalogos/EditarCatalogo">Catalago</a>
                                    </li>

                                    if (filtros.verificarRol(miembroEnSesion.email, "Miembro de Nucleo", "Coordinador"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Encuestas/PaginaInicioEncuesta">Encuestas</a>
                                        </li>

                                    }

                                    <li class="nav-item">
                                        <a class="nav-link" href="/Miembros/MostrarPerfilMiembro">Mi perfil</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/Logout/Logout">Cerrar sesion</a>
                                    </li>
                                }
                                else if (estudianteEnSesion != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Logout/Logout">Cerrar sesion</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Miembros/CrearMiembro">Registrarme</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item submenu dropdown">
                                        <a href="#"
                                           class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Iniciar sesion</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Login/LoginMiembro">Miembro</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Login/LoginEstudiante">Estudiante</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Miembros/CrearMiembro">Registrarme</a>
                                    </li>
                                }
                            }



                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <partial name="_CookieConsentPartial" />

    <div class="container-body body-content">
        @RenderBody()
        <hr />
        <footer class="footer-margin">
            <p>&copy; 2020 - Comunidad de Practica Edustage</p>
        </footer>
    </div>

    <environment include="Production">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="~/js/popper.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/css/select2.min.js"></script>
        <script src="~/js/select2.min.js"></script>
        <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/js/owl-carousel-thumb.min.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/js/mail-script.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="~/js/gmaps.min.js"></script>
        <script src="~/js/theme.js"></script>

    </environment>
    <environment exclude="Production">
    </environment>

    <script src="~/js/ventanaModal.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/ventanaModal.css" />


    <script src="~/css/select2.min.css"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".mul-select").select2({
                placeholder: "- Sin selección -",
                tokenSeparators: ['/', ',', ';']
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".mul-select2").select2({
                placeholder: "- Sin selección -"
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".idiomas-select").select2({
                placeholder: "Idiomas",
                tokenSeparators: ['/', ',', ';']
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".habilidades-select").select2({
                placeholder: "Habilidades",
                tokenSeparators: ['/', ',', ';']
            });
        });
    </script>
    <script>
        $(".sectores-select").select2({
            placeholder: "Sectores",
            tokenSeparators: ['/', ',', ';']
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
