@page
@model PIBasesISGrupo1.Pages.Catalogo.EditarCatalogoModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<form asp-page-handler="AgregarCategoria" method="post" enctype="multipart/form-data">



    <button class="btn btn-default">Compartir</button>

</form>