@page
@model PIBasesISGrupo1.Pages.CatalogoModel
@{
    ViewData["Title"] = "Catalogo";
    var topicosYCategorias = (List<Tuple<string, string>>)ViewData["TopicosYCategorias"];
}

<h2>Catalogo</h2>


<form method="post" enctype="multipart/form-data">
    @{
        <select asp-for="@Model.topicosAelegir" multiple size="@topicosYCategorias.Count">
            @foreach (var topicoYCategoria in topicosYCategorias)
            {

                <option value="@topicoYCategoria.Item1">Topico:@topicoYCategoria.Item1 Categoria:@topicoYCategoria.Item2</option>

                <br>
            }

        </select>
    }
    <br>
    <input type="submit" value="aplicar cambios" class="btn btn-success" aps-page-handler="OnPost" />
</form>