@page
@model PIBasesISGrupo1.Pages.CatalogoModel
@{
    ViewData["Title"] = "Catalogo";
    var topicosYCategorias = (List<Tuple<string, string>>)ViewData["TopicosYCategorias"];
}

<h2>Catalogo</h2>


<form method="post" enctype="multipart/form-data">
    <input asp-for="@Model.categoria" placeholder="Nueva categoria" />
    <br>
    <input type="submit" value="aplicar cambios" class="btn btn-success" aps-page-handler="categoria" />

    <br>
    <br>
</form>

