@page
@model PIBasesISGrupo1.Pages.Curso.AprobarCursoModel
@{
    ViewData["Title"] = "AprobarCurso";
    var listaDeCursos = (List<Tuple<PIBasesISGrupo1.Models.Cursos, PIBasesISGrupo1.Models.Miembro>>)ViewData["CursosPropuestos"];

}
<h2>Cursos Propuestos</h2>
@foreach (var infoCursos in listaDeCursos)
{
    var curso = infoCursos.Item1;
    var educador = infoCursos.Item2;
    <table class="table">
         
            <tr>
                <th>Nombre De Curso</th>
                <th>Propuesto</th>
            </tr>
            <tr>
                <td>@curso.nombre</td>
                <td>@educador.nombre </td>
                 
            </tr>
            
            
        

    </table>


}


