@page
@model PIBasesISGrupo1.Pages.Curso.CrearCursoModel
@{
    ViewData["Title"] = "CrearCurso";
}

<head>
    <style>
        #myStrong {
            color: #fdc632;
        }
        #mihr {
            border: 1px solid #002347;
        }
        #file {
            background-color: #002347;
            color: white;
            max-width: 300px;
        }
        #myp {
            max-width: 200px;
        }
        table {
            table-layout: fixed;
            width: 50%;
            color: #002347;
            font-family: "Roboto";
            font-size: 16px;
        }
        
        
    
    </style>
</head>

<body>
    <h2> Cree un curso</h2>
    <div class="comment-form">
        <h4>Inserte nuevas secciones para el curso </h4>
        <form>
            <div class="form-group form-inline">
                <div class="form-group col-lg-6 col-md-6 name">
                    <input id="nombreSeccion" type="text" class="form-control" placeholder="Ingrese el nombre de la sección" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese el nombre de la sección'">

                </div>
                <input id="crearSeccion" type="button" class="primary-btn2 text-uppercase enroll rounded-0" value="Agregar sección" onclick="mostrarSecciones()">
                <input id="enviarSeccion" type="submit" class="primary-btn2 text-uppercase enroll rounded-0" value="Crear curso">
            </div>
        </form>



        </br>


        <div id="seccionesCreadas" class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Materiales</th>
                        <th scope="col">Nombre Materiales</th>

                    </tr>
                </thead>
                <tbody id="filaTabla">


                </tbody>
            </table>

        </div>

       
    </div>

        <script>

          

            
            function mostrarSecciones() {

                var fila = document.getElementById("filaTabla");
               
                var tr = document.createElement("tr");
                var td1 = document.createElement("td");
                var td2 = document.createElement("td");
                var td3 = document.createElement("td");
                
                var div = document.createElement("div");
              
                var parrafo = document.createElement("p");
                var text = document.createTextNode(document.getElementById("nombreSeccion").value);
                document.getElementById("nombreSeccion").value = "";
                parrafo.appendChild(text)
                td1.appendChild(parrafo);
                
                td2.innerHTML = `<input id="file" type="file" class="btn btn alert-info" multiple onchange="javascript:updateList()" />`;
                div.id = ("fileList");
              
                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(div);
                fila.appendChild(tr);
                
               

            }
            updateList = function () {
                var input = document.getElementById('file');
                var output = document.getElementById('fileList');
                var children = "";
                for (var i = 0; i < input.files.length; ++i) {
                    children += '<li>' + input.files.item(i).name + '</li>';
                }
                output.innerHTML = '<ul>' + children + '</ul>';
            }
                     


        </script>





</body>
