@page
@model PIBasesISGrupo1.Pages.Curso.CrearCursoModel
@{
    ViewData["Title"] = "CrearCurso";
}

<head>
    <style> 
        
    
    </style>
</head>

<body>
    <h2> Cree un curso</h2>
    <div class="comment-form">
        <h4>Inserte nuevas secciones para el curso </h4>
        <form>
            <div class="form-group form-inline">
                <div class="form-group col-lg-6 col-md-6 name">
                    <input id="nombreSeccion" type="text" class="form-control" placeholder="Ingrese el nombre de la sección" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">

                </div>
                <input id="crearSeccion" type="button" class="primary-btn2 text-uppercase enroll rounded-0" value="Agregar sección" onclick="mostrarSecciones()">
            </div>
        </form>
    </div>
   
    
    </br>
    <div id="areaSecciones">


    </div>
    <div id="seccionesCreadas" class="content">
        <ul id="listaSecciones" class="course_list"></ul>

    </div>

    <script>

        //var nombreSeccion;

        function crearSeccion() {

            var seccion = document.getElementById("areaSecciones");
            seccion.innerHTML = "";
            var input = document.createElement("input");
            var boton = document.createElement("input");
            var text = document.createTextNode("Ingrese el nombre de la sección ");
            input.setAttribute("name", "campo");
            input.setAttribute("size", "12");
            input.className = "input";
            input.id = ("seccion");
            boton.setAttribute("type", "button");
            boton.setAttribute("onclick", "mostrarSecciones()");
            boton.setAttribute("value", "Crear");
            boton.setAttribute("class", "primary-btn2 text-uppercase enroll rounded-0");
            seccion.appendChild(text);
            seccion.appendChild(input);
            seccion.appendChild(boton);
            seccion.innerHTML += `</br> </br>`;
            nombreSeccion = input.value;
            //seccion.innerHTML+= `<input type="file" class="btn btn alert-info" multiple />`
        }
        function mostrarSecciones() {
            var seccion = document.getElementById("listaSecciones");
            var li = document.createElement("li");
            var a = document.createElement("a");
            var parrafo = document.createElement("p");
            var text = document.createTextNode(document.getElementById("nombreSeccion").value);
            document.getElementById("nombreSeccion").value = "";
            parrafo.appendChild(text);

            a.setAttribute("class", "primary-btn text-uppercase");
            a.setAttribute("value", "Ver detalles");
            a.innerHTML = `<strong>Detalles</strong>`;
            li.setAttribute("class", "justify-content-between d-flex")
            li.appendChild(parrafo);
            li.appendChild(a);
            seccion.appendChild(li);

        }
                //<a class="primary-btn text-uppercase" href="#">View Details</a>


    </script>





</body>
