@page
@model PIBasesISGrupo1.Pages.Curso.CrearCursoModel
@{
    ViewData["Title"] = "CrearCurso";
}



<body>
    <h2> CrearCurso</h2>
    <input id="crearSeccion" type="button" class="primary-btn2 text-uppercase enroll rounded-0" value="Agregar sección" onclick="crearSeccion()">
    </br>
    <div id="areaSecciones">


    </div>
    <div id="seccionesCreadas">
       

    </div>

    <script>

        function crearSeccion() {
            var seccion = document.getElementById("areaSecciones");

            var input = document.createElement("input");
            var text = document.createTextNode("Ingrese el nombre de la sección ");
            input.setAttribute("name", "campo");
            input.setAttribute("size", "12");
            input.className = "input";
            input.id = ("seccion");
            seccion.appendChild(text);
            seccion.appendChild(input);
            seccion.innerHTML += `</br> </br>`
            //seccion.innerHTML+= `<input type="file" class="btn btn alert-info" multiple />`
        }


    </script>



</body>
