@page
@model PIBasesISGrupo1.Pages.Curso.CrearCursoModel
@{
    ViewData["Title"] = "CrearCurso";
    // var materiales = (List<PIBasesISGrupo1.Models.MaterialModel>)ViewData["materiales"];
    var archivos = (List<Microsoft.AspNetCore.Http.IFormFile>)ViewData["materiales"];

}

<head>
    <style>
        #myStrong {
            color: #fdc632;
        }
        #mihr {
            border: 1px solid #002347;
        }
        #file {
            background-color: #002347;
            color: white;
            max-width: 300px;
        }
        #myp {
            max-width: 200px;
        }
        table {
            table-layout: fixed;
            width: 50%;
            color: #002347;
            font-family: "Roboto";
            font-size: 16px;
        }
        input[type="file"] {
            max-width: 250px;
            margin-right: 5px;
            
        }
        
        
    
    </style>
</head>

<body>

    <h2> Cree un curso: @ViewData["nombreCurso"]</h2>
    <div class="comment-form">
        <h4>Inserte nuevas secciones para el curso </h4>
        <form>
            <div class="form-group form-inline">
                <div class="form-group col-lg-6 col-md-6 name">
                    <input id="nombreSeccion" type="text" class="form-control" placeholder="Ingrese el nombre de la sección" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese el nombre de la sección'">

                </div>
                <input id="crearSeccion" type="button" class="primary-btn2 text-uppercase enroll rounded-0" value="Agregar sección" onclick="mostrarSecciones()">
                <input id="enviarSeccion" type="submit" class="primary-btn2 text-uppercase enroll rounded-0" value="Crear curso">
            </div>
        </form>



        </br>


        <div id="seccionesCreadas" class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Materiales</th>
                        <th scope="col">Nombre de Materiales</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody id="filaTabla"></tbody>
            </table>

        </div>


    </div>
    <div id="formEnviar">

        @{



        }

    </div>


    <form method="post" enctype="multipart/form-data">
        <script>
            var contador = 0;
            var seAgregoMaterial = true;
            function mostrarSecciones() {
                if (seAgregoMaterial) {
                    var fila = document.getElementById("filaTabla");

                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    var td2 = document.createElement("td");
                    var td3 = document.createElement("td");
                    var td4 = document.createElement("td");

                    var ul = document.createElement("ul");
                    ul.id = ("lista" + contador);

                    var parrafo = document.createElement("p");
                    var text = document.createTextNode(document.getElementById("nombreSeccion").value);
                    document.getElementById("nombreSeccion").value = "";
                    parrafo.appendChild(text);
                    td1.appendChild(parrafo);
                    td2.id = ("columna2" + contador);
                    td4.id = ("columna4" + contador);
                    @{ 

                    }
                    td2.innerHTML = `< input id = "file` + contador + `"type = "file" asp-for= "@Model.archivos" multiple onchange = "javascript:updateList()" />`;
                 
                    

                    td4.innerHTML = `<input id="estado` + contador + `"type="submit" class="primary-btn3 text-uppercase enroll rounded-0" value="Confirmar"  onclick="confirmar()"/>`;

                    contador++;
                    td3.appendChild(ul);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tr.appendChild(td4);
                    fila.appendChild(tr);
                    seAgregoMaterial = false;
                }


            }
            updateList = function () {
                var input = document.getElementById('file'+(contador-1));
                var output = document.getElementById('lista'+(contador-1));
                var children = "";
                for (var i = 0; i < input.files.length; ++i) {
                    children += '<li>' + input.files.item(i).name + '</li>';
                }
                output.innerHTML = children;
                seAgregoMaterial = true;
            }

            function confirmar() {
                if (seAgregoMaterial) {
                    var r = confirm("Una vez acepte no podrá agregar materiales");
                    if (r == true) {
                        document.getElementById("columna2" + (contador - 1)).innerHTML = "Materiales agregados";
                        document.getElementById("columna4" + (contador - 1)).innerHTML = "Finalizada";
                        enviarSeccion();

                    }
                } else {
                    alert("Debe agregar materiales para poder confirmar");
                }

            }
            function enviarSeccion() {

            }
        </script>
        <button class="primary-btn2 text-uppercase enroll rounded-0">Funciona</button>

    </form>




</body>
