@page
@model PIBasesISGrupo1.Pages.Curso.CursosCreadosModel
@{
    ViewData["Title"] = "CursosCreados";
    var listaDeCursos = (List<string>)ViewData["CursosCreados"];
}

<h2>Cursos Creados</h2>
<h2>Mis cursos</h2>
<div class="cursos-container">
    @{
        if (listaDeCursos != null)
        {
            for (int i = 0; i < listaDeCursos.Count(); i = i + 1)
            {
                <div class="row" id="filaDeCursosInscritos">
                    @for (int j = i; j < i + 1; j++)
                    {

                        <a id="botonParaPerfil" asp-page="./CursoCreado" asp-route-nombreCurso="@listaDeCursos[j]" >
                                @if (j < listaDeCursos.Count())
                                {
                                    <div id="cuadro-mis-cursos">

                                        <span class="flaticon-student"></span>
                                        <h4 id="nombrePersona">@listaDeCursos[j]</h4>


                                    </div>

                                }
                         </a>
                    }
                </div>
            }
        }
    }
</div>
 