@page
@model PIBasesISGrupo1.Pages.Curso.MisCursosModel
@{
    var listaDeCursos = (List<string>)ViewData["MisCursos"];


}

<header>
    <style>
        .borde {
            border-color: #002347;
            border-style:solid;
            border-width:thin;
        }
    </style>
</header>
<div class="cajota-cursos">
    <h2>Mis cursos matriculados</h2>
    <div class="cursos-container">
        @{
            if (listaDeCursos != null)
            {
                for (int i = 0; i < listaDeCursos.Count(); i = i + 1)
                {
                    <div class="row" id="filaDeCursosInscritos">

                        @for (int j = i; j < i + 1; j++)
                        {

                            <a class="borde" id="botonParaPerfil" asp-page="./VistaCursoEstudiante" asp-route-nombreCurso="@listaDeCursos[j]">
                                @if (j < listaDeCursos.Count())
                                {
                                    <div id="cuadro-mis-cursos">

                                        <span class="flaticon-student"></span>
                                        <h4 id="nombrePersona">@listaDeCursos[j]</h4>


                                    </div>

                                }
                            </a>
                        }
                    </div>
                }
            }
        }
    </div>
</div>









