@page
@model PIBasesISGrupo1.Pages.Curso.MisCursosPropuestosModel
@{
    ViewData["Title"] = "Mis Cursos Propuestos";
    var listaDeCursos = (List<PIBasesISGrupo1.Models.Cursos>)ViewData["MisCursosPropuestos"];

}

<div class="cajota-cursos">
    <div class="row justify-content-center">

        <h1 class="mb-3">Mis cursos propuestos</h1>

    </div>


    <div class="cursos-container-2">
        @if (listaDeCursos.Count > 0)
        {

            @foreach (var curso in listaDeCursos)
            {

                <div class="cajita-cursos col-lg-12">
                    <div class="col-lg-12 right-contents">
                        <h4 class="title_color align-content-lg-center centrar">@curso.nombre</h4>
                        <hr class="new5">
                        <ul>
                            <li>
                                <a class="justify-content-between d-flex">
                                    <p>Estado</p>
                                    <span class="or">@curso.estado</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex">
                                    <p>Precio </p>
                                    <span>$@curso.precio</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
             }
         }
    </div>
</div>
