@page
@model PIBasesISGrupo1.Pages.Encuestas.IndexPreguntasModel
@{
    ViewData["Title"] = "IndexPreguntas";
}

<h2>IndexPreguntas</h2>
<p>
    <a asp-page="CrearPregunta">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Preguntas</h3>
            </th>
        </tr>
    </thead>
    <tbody>
