@page
@model PIBasesISGrupo1.Pages.Encuestas.MostrarRespuestasModel
@{
    ViewData["Title"] = "MostrarRespuestas";
    var respuestas=(List<PIBasesISGrupo1.Models.MostarRespuestaModel>)ViewData["respuestas"];
}

<a asp-page="PaginaInicioEncuesta" class="primary-btn2 text-uppercase enroll rounded-0">Volver</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Respuestas</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (respuestas.Count !=0)
            {
                var index = respuestas[0].preguntaID;
                <td>
                    <b><h4>Pregunta: </h4></b><h4>@respuestas[0].pregunta</h4>
                </td>
                foreach (var item in @respuestas)
                {
                    <tr>
                        <td>
                            @if (index != item.preguntaID)
                            {
                                index = item.preguntaID;

                                <b><h4>Pregunta: </h4></b><h4>@Html.DisplayFor(modelItem => item.pregunta)</h4>


                            }

                            <b>Nombre: </b>@Html.DisplayFor(modelItem => item.nombre)<br>
                            <b>Respuesta: </b>@Html.DisplayFor(modelItem => item.respuesta)<br>
                        </td>



                    </tr>
                }
            }
        }
        </tbody>
    </table>
