@page
@model PIBasesISGrupo1.Pages.Encuestas.MostrarRespuestasModel
@{
    ViewData["Title"] = "MostrarRespuestas";
    var respuestas = (List<PIBasesISGrupo1.Models.MostarRespuestaModel>)ViewData["respuestas"];
}

<a asp-page="PaginaInicioEncuesta" class="primary-btn2 text-uppercase enroll rounded-0">Volver</a>

<h2>Ver respuestas</h2>

@{
    foreach (var item in (List<PIBasesISGrupo1.Models.PreguntaModel>)Model.listaPreguntas)
    {
        @Html.DisplayFor(modelItem => item.pregunta);
        <br />
        @Html.DisplayFor(modelItem => item.opcion1);
        <br />        

        <br />
        @Html.DisplayFor(modelItem => item.opcion2);
        <br />
       
        <br>

        

    }

}